.composition {
    position: relative;

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}

.composition__photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: .2rem;
    transition: all .2s;
    z-index: 10;

    &:hover {
        outline: 1rem solid $color-primary-light;
        outline-offset: 2rem;
        transform: scale(1.05) translateY(-.5rem);
        box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
        z-index: 20;
    }
}

.composition__photo--p1 {
    top: -2rem;
    left: 0;
}

.composition__photo--p2 {
    top: 2rem;
    right: 0;
}
.composition__photo--p3 {
    top: 10rem;
    left: 22.5%;
}